@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: url('./resorces/fonts/NotoSansKR-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url('./resorces/fonts/NotoSansKR-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url('./resorces/fonts/NotoSansKR-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  src: url('./resorces/fonts/NotoSansKR-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 100;
  src: url('./resorces/fonts/NotoSansKR-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 200;
  src: url('./resorces/fonts/NotoSansKR-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 600;
  src: url('./resorces/fonts/NotoSansKR-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 800;
  src: url('./resorces/fonts/NotoSansKR-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: 900;
  src: url('./resorces/fonts/NotoSansKR-Black.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'NotoSansKR', sans-serif;
}

.custom-placeholder::placeholder {
  font-size: 14px;
  color: #888;
}

.ul-li:hover {
  text-decoration-thickness: 50px;
}
